<%= form_for(@user, url: signup_path) do |f| %>
<div class="form-row">
  <div class="form-group col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <%= f.text_field :name, placeholder: "Your name", class: "form-control" %>
  </div>
  <div class="col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 text-left error-message">
    <% if @user.errors[:name] %>
      <% @user.errors[:name].each do |t| %>
        <i class="fa fa-exclamation-circle"></i>&nbsp;Name:&nbsp;<%= t.to_s.capitalize %><br/>
      <% end %>
    <% end %>
  </div>
  <div class="form-group col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <%= f.email_field :email, placeholder: "Your email address", class: "form-control" %>
  </div>
  <div class="col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 text-left error-message">
    <% if @user.errors[:email] %>
      <% @user.errors[:email].each do |t| %>
        <i class="fa fa-exclamation-circle"></i>&nbsp;Email:&nbsp;<%= t.to_s.capitalize %><br/>
      <% end %>
    <% end %>
  </div>
  <div class="form-group col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>
  <div class="col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 text-left error-message">
    <% if @user.errors[:password] %>
      <% @user.errors[:password].each do |t| %>
        <i class="fa fa-exclamation-circle"></i>&nbsp;Password:&nbsp;<%= t.to_s.capitalize %><br/>
      <% end %>
    <% end %>
  </div>
  <div class="form-group col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
  </div>
  <div class="col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 text-left error-message">
    <% if @user.errors[:password_confirmation] %>
      <% @user.errors[:password_confirmation].each do |t| %>
        <i class="fa fa-exclamation-circle"></i>&nbsp;Password confirmation:&nbsp;<%= t.to_s.capitalize %><br/>
      <% end %>
    <% end %>
  </div>
  <div class="form-group col-6 offset-3 col-xs-6 offset-xl-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <%= f.submit "Sign up", class: "btn btn-danger text-uppercase btn-lg"%>
  </div>
  <% end %>
<script type="text/javascript">
  $('.error-message').css('color','red').show();
</script>
