<% if logged_in? %>
  <% provide(:title, @user.name) %>
  <h1>User detail</h1>
  <%= gravatar_for @user %>
  <%= link_to "change avatar", avatar_user_path(current_user), remote: true, method: :PATCH %>
  <br>
  <%= @user.name %>
  <br>
  <%= @user.email %>

<% else %>
  <script type="text/javascript">
    window.location.href="<%= root_path %>"
  </script>
<% end %>
<div class="modal fade" id="avatarmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="avatar-uploader">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
