<%= form_for(@post, url: posts_path, remote: true, html: { multipart: true } ) do |f| %>
<div class="form-row">
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  </div>
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.text_field :title, placeholder: "Title of your post", class: "form-control" %>
  </div>
  <div class="text-left error-message col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3" id="error-create-title">
  </div>
  <div class="form-group col-12 col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.text_area :content,rows: "4",placeholder: "Content of your post", class: "form-control"%>
  </div>
  <div class="text-left error-message col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3" id="error-create-content">
  </div>
  <div class="form-group col-12 col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control", id: "image_uploader" %>
  </div>
  <div id="previewer" class="form-group col-12 col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 d-none">
    <br><input id="remove_all_pic_btn" type="button" class="btn btn-danger" value="Remove all" onclick="removeAllPic();" />
  </div>
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.submit "Post", class: "btn btn-danger text-uppercase form-control"%>
  </div>
</div>
<% end %>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"  id="imagemodal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="" id="imagepreview" width="100%" />
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>'))
                    .attr('src', event.target.result)
                    .attr('width','150px')
                    .attr('class','pic-preview')
                    .attr('onclick', "$('#imagepreview').attr('src', $(this).attr('src'));$('#imagemodal').modal('show','true');")
                    .prependTo(placeToInsertImagePreview);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    $('#image_uploader').on('change', function() {
        $('#previewer').removeClass('d-none');
        imagesPreview(this, '#previewer');
    });
  });

  function removeAllPic(){
    $('#image_uploader').val("");
    $('#previewer').find('.pic-preview').remove();
    $('#previewer').addClass('d-none');
  }
</script>
