<%= form_for(@post, url: posts_path, remote: true, html: { multipart: true } ) do |f| %>
<div class="form-row">
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  </div>
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.text_field :title, placeholder: "Title of your post", class: "form-control" %>
  </div>
  <div class="text-left error-message col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3" id="error-create-title">
  </div>
  <div class="form-group col-12 col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.text_area :content,rows: "4",placeholder: "Content of your post", class: "form-control"%>
  </div>
  <div class="text-left error-message col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3" id="error-create-content">
  </div>
  <div class="form-group col-12 col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <div class="row" id="add-cocoon">

    </div>
    <div class='links'>
      <%= link_to_add_association "Add a picture", f, :pictures, class: "btn btn-link", id: 'link-add-pic'%>
    </div>
  </div>
  <div class="form-group col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <%= f.submit "Post", class: "btn btn-danger text-uppercase form-control"%>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#link-add-pic").
      data("association-insertion-method", 'append').
      data("association-insertion-node", '#add-cocoon');
  });
</script>
