<div class="card col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="justify-content-start ml-3">
          <span id="post_number_<%=post.id%>" />
          <div class="user-avatar"><%= gravatar_for post.user %></div>
        </div>
        <div class="justify-content-start ml-2">
          <div class="container">
            <div class="row mt-3">
              <span class="user-name font-weight-bold"><%= post.user.name %></span>
            </div>
            <div class="row">
              <span class="user-name text-muted"><%= post.user.email %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="card-body">
    <h5 class="card-title font-weight-bold"><%= post.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(post.created_at) %> ago</h6>
    <div class="row pictures-render">
      <%= render partial: 'all_pic',locals: { post: post } %>
    </div>
    <p class="card-text"><%= post.content %></p>
  </div>
  <div class="card-footer">
    <div class="row">
      <% if current_user.id == post.user_id %>
        <div class="col-4 comment-btn" >
          <%= link_to(comments_path(post_id: "#{post.id}"), remote: true,class: 'card-link btn btn-toolbar justify-content-start') do %>
            <i class="fa fa-commenting"></i>&nbsp;<span class="hide-action">Comment</span>
          <% end %>
        </div>
        <div class="col-4 edit-btn">
          <%= link_to(edit_post_path(post) , method: :get, remote: true, class: 'card-link btn btn-toolbar justify-content-center') do %>
            <i class="fa fa-pencil"></i>&nbsp;<span class="hide-action">Edit</span>
          <% end %>
        </div>
        <div class="col-4 delete-btn">
          <%= link_to(post_path(post) , method: :delete, remote: true, class: 'card-link btn btn-toolbar justify-content-end' , data: { confirm: 'Are you sure?' }) do %>
          <i class="fa fa-trash"></i>&nbsp;<span class="hide-action">Delete</span>
          <% end %>
        </div>
      <% else %>
        <div class="col-4 comment-btn" >
          <%= link_to(comments_path(post_id: "#{post.id}"), remote: true,class: 'card-link btn btn-toolbar') do %>
            <i class="fa fa-commenting"></i>&nbsp;<span class="hide-action">Comment</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body hidden-comment-block">

  </div>
</div>
<script type="text/javascript">
  $('.post-pic').click(function(event) {
    $('#imagepreview').attr('src',$(this).attr('src'));
    $('#imagemodal').modal('show','true');
  });
</script>
