<% provide(:title, 'New feed') %>
<div class="list-post">
  <div class="container-fluid text-center post-part">
    <%= render 'form'%>
  </div>
  <hr class="bg-white" />
  <div class="container-fluid">
    <div class="row post-row" id='post-new'>
    </div>
    <div class="row post-row">
      <%= render @posts %>
    </div>
    <div class="row post-row" id='post-more'>
    </div>
    <div class="row post-row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 btn-more">
        <%= button_to 'More', '/load_more', method: :get, remote: true, class: 'btn btn-danger text-uppercase form-control btn-more-change' %>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold text-uppercase" id="editPostModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="editPostForm">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //<% if !@post_edit.nil? %>
  //url_test = window.location.href;
  //window.location = url_test.includes("#post_number_<%= @post_edit.id %>")? url_test : url_test + "#post_number_<%= @post_edit.id %>";
  //<% end %>
  // $(document).ready(function(e){
  //   comment_show();
  // });
  // function comment_show(){
  //   $('.comment-btn').on('click',function(){
  //     $(this).closest('.card').find('.hidden-comment-block').toggle(100);
  //   });
  // }
</script>
